 * {
     margin: 0;
     padding: 0;

     box-sizing: border-box;
 }

 body {
    display: flex;
    flex-direction: column;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #292929;
 }

 header {
    flex: 1;
    padding: 1rem;
    text-align: center;

    background-color: black;
    border-bottom: 2px solid yellow;
    
    
 }


 main {
    flex: 10;
 }

 footer {
    flex: 1;
    padding: 1rem;
    text-align: center;

    background-color: black;
    border-top: 2px solid yellow;
 }